body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: auto;
  width: 24rem;
  margin-top: calc(50vh - 15rem);
}


#config-list {
  width: 24rem;
  max-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  overflow-y: auto;
}

.config {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.config .name {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
}

.config .run,
.config .edit {
  padding: 4px 10px;
  border: 1px solid currentColor;
  border-radius: 6px;
  cursor: pointer;

  font-size: 14px;

  transition: all 0.2s ease;
}

.config .run:hover,
.config .edit:hover {
  background: white;
  color: #111;
}
